server {
    listen $PORT;
    server_name vista-backend.herokuapp.com;

    location / {
        proxy_pass http://127.0.0.1:8000;
    }
    location /static {
        root /opt/app/smart_clinic;
    }
}